<template>
    <v-card >
      <v-layout
      text-xs-left
      wrap
      >
        <v-flex mb-12 xs12 sm12 md12 style="padding: 25px">
            <h1 class="display-1 font-weight mb-3">
              Chaiyaphum, Thailand
            </h1>
            <p class="subheading font-weight-regular">
                      77   ํC CHAIYAPHUM STATION  | 
              <a href="https://community.vuetifyjs.com" target="_blank">CHANGE</a>
            </p>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex mb-12>
          <v-tabs
            slot="extension"
            v-model="tab"
            align-with-title
            color="#F5F5F5"
          >
            <v-tabs-slider color="white"></v-tabs-slider>
            <v-tab v-for="item in items" :key="item">
              {{ item }}
            </v-tab>
          </v-tabs>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-tabs-items v-model="tab">
        <v-tab-item v-for="item in items" :key="item">
        <v-card flat>
          <v-card-text>{{ views }}</v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs-items>
      </v-layout>
    </v-card>
</template>

<script>
  export default {
    data () {
      return {
        tab: null,
        items: [
          'Today', 'HOURLY', '10-DAY', 'CALENDAR', 'HISTORY', 'WUNDERMAP'
        ],
        views:'' 
      }
    }
  }
</script>

<style>

</style>
