<template>
    <v-card >
      <v-layout
      row
      wrap
      >
        <v-flex mb-12 xs12 sm12 md12 style="padding: 25px" >
            <v-card style="height: 100%" flat>
                <v-layout row wrap>
                    <v-flex xs12 text-xs-right>
                        <v-btn
                            color="info"
                            class="white--text"
                            >
                            <v-icon left dark>settings</v-icon>
                            Customiez
                            </v-btn>
                    </v-flex>
                </v-layout>
                <v-layout row wrap justify-center>
                    <v-flex xs12 sm1 md1>
                        <v-card>
                            <v-card-title primary-title>
                            <div>
                                <h3 class="caption text-xs-center">Friday 11/1</h3>
                                <hr/>
                                <div class="text-xs-center" >
                                    <span style="color: orangered">89 ํ</span>
                                    <span> | </span>
                                    <span style="color: blue">67 ํ F</span>
                                </div>
                                <img 
                                    src="https://png.pngtree.com/element_origin_min_pic/17/03/14/7b705aa85d2f792a93d138de6a3e5d15.jpg" 
                                    alt="logo"
                                    width="80px"
                                    height="70px"
                                    class="im"
                                    >
                                <div class="text-xs-center">
                                    <span>Mostly Sunny</span>
                                    <br/>
                                    <span>0 in</span>
                                </div>
                            </div>
                            </v-card-title>
                        </v-card>
                    </v-flex>
                    <v-flex xs12 sm1 md1>
                        <v-card>
                            <v-card-title primary-title>
                            <div>
                                <h3 class="caption text-xs-center">Friday 11/1</h3>
                                <hr/>
                                <div class="text-xs-center" >
                                    <span style="color: orangered">89 ํ</span>
                                    <span> | </span>
                                    <span style="color: blue">67 ํ F</span>
                                </div>
                                <img 
                                    src="https://png.pngtree.com/element_origin_min_pic/17/03/14/7b705aa85d2f792a93d138de6a3e5d15.jpg" 
                                    alt="logo"
                                    width="80px"
                                    height="70px"
                                    class="im"
                                    >
                                <div class="text-xs-center">
                                    <span>Mostly Sunny</span>
                                    <br/>
                                    <span>0 in</span>
                                </div>
                            </div>
                            </v-card-title>
                        </v-card>
                    </v-flex>
                    <v-flex xs12 sm1 md1>
                        <v-card>
                            <v-card-title primary-title>
                            <div>
                                <h3 class="caption text-xs-center">Friday 11/1</h3>
                                <hr/>
                                <div class="text-xs-center" >
                                    <span style="color: orangered">89 ํ</span>
                                    <span> | </span>
                                    <span style="color: blue">67 ํ F</span>
                                </div>
                                <img 
                                    src="https://png.pngtree.com/element_origin_min_pic/17/03/14/7b705aa85d2f792a93d138de6a3e5d15.jpg" 
                                    alt="logo"
                                    width="80px"
                                    height="70px"
                                    class="im"
                                    >
                                <div class="text-xs-center">
                                    <span>Mostly Sunny</span>
                                    <br/>
                                    <span>0 in</span>
                                </div>
                            </div>
                            </v-card-title>
                        </v-card>
                    </v-flex>
                    <v-flex xs12 sm1 md1>
                        <v-card>
                            <v-card-title primary-title>
                            <div>
                                <h3 class="caption text-xs-center">Friday 11/1</h3>
                                <hr/>
                                <div class="text-xs-center" >
                                    <span style="color: orangered">89 ํ</span>
                                    <span> | </span>
                                    <span style="color: blue">67 ํ F</span>
                                </div>
                                <img 
                                    src="https://png.pngtree.com/element_origin_min_pic/17/03/14/7b705aa85d2f792a93d138de6a3e5d15.jpg" 
                                    alt="logo"
                                    width="80px"
                                    height="70px"
                                    class="im"
                                    >
                                <div class="text-xs-center">
                                    <span>Mostly Sunny</span>
                                    <br/>
                                    <span>0 in</span>
                                </div>
                            </div>
                            </v-card-title>
                        </v-card>
                    </v-flex>
                    <v-flex xs12 sm1 md1>
                        <v-card>
                            <v-card-title primary-title>
                            <div>
                                <h3 class="caption text-xs-center">Friday 11/1</h3>
                                <hr/>
                                <div class="text-xs-center" >
                                    <span style="color: orangered">89 ํ</span>
                                    <span> | </span>
                                    <span style="color: blue">67 ํ F</span>
                                </div>
                                <img 
                                    src="https://png.pngtree.com/element_origin_min_pic/17/03/14/7b705aa85d2f792a93d138de6a3e5d15.jpg" 
                                    alt="logo"
                                    width="80px"
                                    height="70px"
                                    class="im"
                                    >
                                <div class="text-xs-center">
                                    <span>Mostly Sunny</span>
                                    <br/>
                                    <span>0 in</span>
                                </div>
                            </div>
                            </v-card-title>
                        </v-card>
                    </v-flex>
                    <v-flex xs12 sm1 md1>
                        <v-card>
                            <v-card-title primary-title>
                            <div>
                                <h3 class="caption text-xs-center">Friday 11/1</h3>
                                <hr/>
                                <div class="text-xs-center" >
                                    <span style="color: orangered">89 ํ</span>
                                    <span> | </span>
                                    <span style="color: blue">67 ํ F</span>
                                </div>
                                <img 
                                    src="https://png.pngtree.com/element_origin_min_pic/17/03/14/7b705aa85d2f792a93d138de6a3e5d15.jpg" 
                                    alt="logo"
                                    width="80px"
                                    height="70px"
                                    class="im"
                                    >
                                <div class="text-xs-center">
                                    <span>Mostly Sunny</span>
                                    <br/>
                                    <span>0 in</span>
                                </div>
                            </div>
                            </v-card-title>
                        </v-card>
                    </v-flex>
                    <v-flex xs12 sm1 md1>
                        <v-card>
                            <v-card-title primary-title>
                            <div>
                                <h3 class="caption text-xs-center">Friday 11/1</h3>
                                <hr/>
                                <div class="text-xs-center" >
                                    <span style="color: orangered">89 ํ</span>
                                    <span> | </span>
                                    <span style="color: blue">67 ํ F</span>
                                </div>
                                <img 
                                    src="https://png.pngtree.com/element_origin_min_pic/17/03/14/7b705aa85d2f792a93d138de6a3e5d15.jpg" 
                                    alt="logo"
                                    width="80px"
                                    height="70px"
                                    class="im"
                                    >
                                <div class="text-xs-center">
                                    <span>Mostly Sunny</span>
                                    <br/>
                                    <span>0 in</span>
                                </div>
                            </div>
                            </v-card-title>
                        </v-card>
                    </v-flex>
                    <v-flex xs12 sm1 md1>
                        <v-card>
                            <v-card-title primary-title>
                            <div>
                                <h3 class="caption text-xs-center">Friday 11/1</h3>
                                <hr/>
                                <div class="text-xs-center" >
                                    <span style="color: orangered">89 ํ</span>
                                    <span> | </span>
                                    <span style="color: blue">67 ํ F</span>
                                </div>
                                <img 
                                    src="https://png.pngtree.com/element_origin_min_pic/17/03/14/7b705aa85d2f792a93d138de6a3e5d15.jpg" 
                                    alt="logo"
                                    width="80px"
                                    height="70px"
                                    class="im"
                                    >
                                <div class="text-xs-center">
                                    <span>Mostly Sunny</span>
                                    <br/>
                                    <span>0 in</span>
                                </div>
                            </div>
                            </v-card-title>
                        </v-card>
                    </v-flex>
                    <v-flex xs12 sm1 md1>
                        <v-card>
                            <v-card-title primary-title>
                            <div>
                                <h3 class="caption text-xs-center">Friday 11/1</h3>
                                <hr/>
                                <div class="text-xs-center" >
                                    <span style="color: orangered">89 ํ</span>
                                    <span> | </span>
                                    <span style="color: blue">67 ํ F</span>
                                </div>
                                <img 
                                    src="https://png.pngtree.com/element_origin_min_pic/17/03/14/7b705aa85d2f792a93d138de6a3e5d15.jpg" 
                                    alt="logo"
                                    width="80px"
                                    height="70px"
                                    class="im"
                                    >
                                <div class="text-xs-center">
                                    <span>Mostly Sunny</span>
                                    <br/>
                                    <span>0 in</span>
                                </div>
                            </div>
                            </v-card-title>
                        </v-card>
                    </v-flex>
                    <v-flex xs12 sm1 md1>
                        <v-card>
                            <v-card-title primary-title>
                            <div>
                                <h3 class="caption text-xs-center">Friday 11/1</h3>
                                <hr/>
                                <div class="text-xs-center" >
                                    <span style="color: orangered">89 ํ</span>
                                    <span> | </span>
                                    <span style="color: blue">67 ํ F</span>
                                </div>
                                <img 
                                    src="https://png.pngtree.com/element_origin_min_pic/17/03/14/7b705aa85d2f792a93d138de6a3e5d15.jpg" 
                                    alt="logo"
                                    width="80px"
                                    height="70px"
                                    class="im"
                                    >
                                <div class="text-xs-center">
                                    <span>Mostly Sunny</span>
                                    <br/>
                                    <span>0 in</span>
                                </div>
                            </div>
                            </v-card-title>
                        </v-card>
                    </v-flex>
                </v-layout>
                <v-layout column wrap>
                    <v-flex md12>
                        <div class="hello" ref="chartdiv"></div>
                    </v-flex>
                    <!-- <v-flex md12>
                        <div class="hello1" ref="chartdiv1"></div>
                    </v-flex> -->
                </v-layout>
            </v-card>
        </v-flex>
      </v-layout>
    </v-card>
</template>

<script>
import * as am4core from "@amcharts/amcharts4/core";
import * as am4charts from "@amcharts/amcharts4/charts";
import am4themes_animated from "@amcharts/amcharts4/themes/animated";

am4core.useTheme(am4themes_animated);

export default {
  name: 'Meteorology',
  mounted() {
    let chart = am4core.create(this.$refs.chartdiv, am4charts.XYChart);
    // let chart1 = am4core.create(this.$refs.chartdiv1, am4charts.XYChart);


    let data = [];
    let visits = 7;
    for (let i = 1; i < 366; i++) {
      visits += Math.round((Math.random() < 0.5 ? 1 : -1) * Math.random() * 7);
      data.push({ date: new Date(2018, 0, i), name: "name" + i, value: visits });
    }

    // let data1 = [];
    // let visits1 = 7;
    // for (let i = 1; i < 366; i++) {
    //   visits1 += Math.round((Math.random() < 0.5 ? 1 : -1) * Math.random() * 7);
    //   data1.push({ date1: new Date(2018, 0, i), name1: "name" + i, value: visits1 });
    // }

    chart.data = data;
    // chart1.data1 = data;

    let dateAxis = chart.xAxes.push(new am4charts.DateAxis());
    dateAxis.renderer.grid.template.location = 0;
    // let dateAxis1 = chart1.xAxes.push(new am4charts.DateAxis());
    // dateAxis1.renderer.grid.template.location = 0;

    let valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
    valueAxis.tooltip.disabled = true;
    // let valueAxis1 = chart.yAxes.push(new am4charts.ValueAxis());
    // valueAxis1.tooltip.disabled = true;

    let series = chart.series.push(new am4charts.LineSeries());
    series.dataFields.dateX = "date";
    series.dataFields.valueY = "value";
    // let series1 = chart.series.push(new am4charts.LineSeries());
    // series1.dataFields.dateX = "date";
    // series1.dataFields.valueY = "value";

    series.tooltipText = "{valueY.value}";
    chart.cursor = new am4charts.XYCursor();
    // series1.tooltipText = "{valueY1.value1}";
    // chart1.cursor = new am4charts.XYCursor();

    let scrollbarX = new am4charts.XYChartScrollbar();
    scrollbarX.series.push(series);
    chart.scrollbarX = scrollbarX;
    // let scrollbarX1 = new am4charts.XYChartScrollbar();
    // scrollbarX1.series.push(series1);
    // chart1.scrollbarX = scrollbarX1;

    this.chart = chart;
    // this.chart1 = chart1;
  },

  beforeDestroy() {
    if (this.chart) {
      this.chart.dispose();
    }
  }
}
</script>

<style>
.circle {
  width: 220px;
  height: 210px;
  border-radius: 50%;
  border: 4px solid orangered;
  font-size: 20px;
  color: orangered;
  line-height: 50px;
  text-align: center;
  background: white;
}

.im {
    border-radius: 50%;
}

.hello {
  width: 100%;
  height: 400px;
}

.hello1 {
  width: 100%;
  height: 400px;
}
</style>
