<template>
    <v-card >
      <v-layout
      row
      wrap
      >
        <v-flex mb-12 xs12 sm6 md6 style="paddingLeft: 25px; paddingRight: 25px; marginTop: 25px">
            <v-card style="height: 300px">
                <v-layout row wrap>
                    <v-flex xs12>
                        <p class="caption font-weight-regular">
                            1:23 AM +07 on November 1, 2018 (GMT +0700) | Updated 2 hours ago
                        </p>
                    </v-flex>
                    <v-flex xs6>
                        <v-layout column wrap align-center>
                            <v-flex xs12>
                                <div class="circle">
                                    <span class="title font-weight-regular" style="color: gray"> 93 ํC | 69 ํC </span>
                                    <br>
                                    <span class="display-3 font-weight-regular">77  ํF </span>
                                    <br>
                                    <span class="title font-weight-regular">FEELS LIKE</span>
                                    <span class="title font-weight-regular" style="color: gray"> 77  ํF </span>
                                </div>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                    
                    <v-flex xs6>
                        <v-layout row wrap >
                            <v-flex xs6 text-xs-center>
                                <img 
                                    src="https://png.pngtree.com/element_origin_min_pic/17/03/14/7b705aa85d2f792a93d138de6a3e5d15.jpg" 
                                    alt="logo"
                                    width="120px"
                                    height="110px"
                                    class="im"
                                >
                                <br>
                                <span class="title font-weight-regular" style="color: gray"> Fair </span>
                            </v-flex>
                            <v-flex xs6 text-xs-center>
                                <img 
                                    src="https://png.pngtree.com/element_origin_min_pic/17/06/21/b91a5a01a6f27b47158c1c28ae9c215e.jpg" 
                                    alt="logo"
                                    width="120px"
                                    height="110px"
                                    class="im"
                                >
                                <br>
                                <span class="title font-weight-regular" style="color: gray"> Wind <b>NE</b> </span>
                                <br>
                                <span class="title font-weight-regular" style="color: gray"> Gusts <b>--</b> </span>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                    <v-layout row wrap text-xs-center style="marginTop: 25px">
                        <v-flex xs12>
                            <p class="subheading font-weight-regular">
                                Today is forecast to be COOLER than yesterday.
                            </p>
                        </v-flex>
                    </v-layout>
                </v-layout>
            </v-card>
        </v-flex>

    <!--flex ใส่ map-->
        <v-flex mb-12 xs12 sm6 md6 style=" paddingRight: 25px; marginTop: 25px">
            <v-card style="height: 300px">
                <v-layout row wrap>
                    <v-flex xs12>
                        <v-layout column wrap align-center>
                            <v-flex xs12>
                                เอา google map มาใส่
                            </v-flex>
                        </v-layout>
                    </v-flex>
                </v-layout>
            </v-card>
        </v-flex>
        <v-flex mb-12 xs12 sm12 md12 style="padding: 25px">
            <v-card style="height: 100%">
                <v-layout row wrap>
                    <v-flex xs12 sm6 md3>
                        <v-card style="marginLeft: 15px; marginTop: 15px; marginBottom: 15px">
                            <v-layout row wrap align-left>
                                <v-flex xs12 sm6 md6>
                                    <img 
                                    src="https://png.pngtree.com/element_origin_min_pic/17/03/14/7b705aa85d2f792a93d138de6a3e5d15.jpg" 
                                    alt="logo"
                                    width="80px"
                                    height="70px"
                                    class="im"
                                    >
                                </v-flex>
                                <v-flex xs12 sm6 md6 text-xs-left>
                                    <span class="title font-weight-regular black--text">TONIGHT</span>
                                    <br>
                                    <span class="title font-weight-regular gray--text">FRIDAY 10/23</span>
                                    <br>
                                    <span class="title font-weight-regular gray--text">HIGHT 89 ํF</span>
                                </v-flex>
                            </v-layout>
                            <br>
                            <v-layout row wrap align-left>
                                <v-flex xs12 sm12 md12 text-xs-left>
                                    <span class="title font-weight-regular blue--text"><u>0% Precip. / 0.00 in</u></span>
                                    <br>
                                    <span class="title font-weight-regular black--text">Mostly Sunny. High 89F. Winds NE at 10 to 15 mph</span>
                                </v-flex>
                            </v-layout>
                        </v-card>
                    </v-flex>
                    <v-flex xs12 sm6 md3>
                        <v-card style="marginLeft: 15px; marginTop: 15px; marginBottom: 15px">
                            <v-layout row wrap align-left>
                                <v-flex xs12 sm6 md6>
                                    <img 
                                    src="https://png.pngtree.com/element_origin_min_pic/17/03/14/7b705aa85d2f792a93d138de6a3e5d15.jpg" 
                                    alt="logo"
                                    width="80px"
                                    height="70px"
                                    class="im"
                                    >
                                </v-flex>
                                <v-flex xs12 sm6 md6 text-xs-left>
                                    <span class="title font-weight-regular black--text">TONIGHT</span>
                                    <br>
                                    <span class="title font-weight-regular gray--text">FRIDAY 10/23</span>
                                    <br>
                                    <span class="title font-weight-regular gray--text">HIGHT 89 ํF</span>
                                </v-flex>
                            </v-layout>
                            <br>
                            <v-layout row wrap align-left>
                                <v-flex xs12 sm12 md12 text-xs-left>
                                    <span class="title font-weight-regular blue--text"><u>0% Precip. / 0.00 in</u></span>
                                    <br>
                                    <span class="title font-weight-regular black--text">Mostly Sunny. High 89F. Winds NE at 10 to 15 mph</span>
                                </v-flex>
                            </v-layout>
                        </v-card>
                    </v-flex>
                    <v-flex xs12 sm6 md3>
                        <v-card style="marginLeft: 15px; marginTop: 15px; marginBottom: 15px">
                            <v-layout row wrap align-left>
                                <v-flex xs12 sm6 md6>
                                    <img 
                                    src="https://png.pngtree.com/element_origin_min_pic/17/03/14/7b705aa85d2f792a93d138de6a3e5d15.jpg" 
                                    alt="logo"
                                    width="80px"
                                    height="70px"
                                    class="im"
                                    >
                                </v-flex>
                                <v-flex xs12 sm6 md6 text-xs-left>
                                    <span class="title font-weight-regular black--text">TONIGHT</span>
                                    <br>
                                    <span class="title font-weight-regular gray--text">FRIDAY 10/23</span>
                                    <br>
                                    <span class="title font-weight-regular gray--text">HIGHT 89 ํF</span>
                                </v-flex>
                            </v-layout>
                            <br>
                            <v-layout row wrap align-left>
                                <v-flex xs12 sm12 md12 text-xs-left>
                                    <span class="title font-weight-regular blue--text"><u>0% Precip. / 0.00 in</u></span>
                                    <br>
                                    <span class="title font-weight-regular black--text">Mostly Sunny. High 89F. Winds NE at 10 to 15 mph</span>
                                </v-flex>
                            </v-layout>
                        </v-card>
                    </v-flex>
                    <v-flex xs12 sm6 md3>
                        <v-card style="marginLeft: 15px; marginTop: 15px; marginBottom: 15px">
                            <v-layout row wrap align-left>
                                <v-flex xs12 sm6 md6>
                                    <img 
                                    src="https://png.pngtree.com/element_origin_min_pic/17/03/14/7b705aa85d2f792a93d138de6a3e5d15.jpg" 
                                    alt="logo"
                                    width="80px"
                                    height="70px"
                                    class="im"
                                    >
                                </v-flex>
                                <v-flex xs12 sm6 md6 text-xs-left>
                                    <span class="title font-weight-regular black--text">TONIGHT</span>
                                    <br>
                                    <span class="title font-weight-regular gray--text">FRIDAY 10/23</span>
                                    <br>
                                    <span class="title font-weight-regular gray--text">HIGHT 89 ํF</span>
                                </v-flex>
                            </v-layout>
                            <br>
                            <v-layout row wrap align-left>
                                <v-flex xs12 sm12 md12 text-xs-left>
                                    <span class="title font-weight-regular blue--text"><u>0% Precip. / 0.00 in</u></span>
                                    <br>
                                    <span class="title font-weight-regular black--text">Mostly Sunny. High 89F. Winds NE at 10 to 15 mph</span>
                                </v-flex>
                            </v-layout>
                        </v-card>
                    </v-flex>
                </v-layout>
                <v-layout row wrap>
                    <v-flex xs12 sm6 md3>
                        <v-card style="marginLeft: 15px; marginTop: 15px; marginBottom: 15px">
                            <v-layout column wrap align-center>
                                <v-flex xs12>
                                    <div class="circle">
                                        <span class="title font-weight-regular" style="color: gray"> 93 ํC | 69 ํC </span>
                                        <br>
                                        <span class="display-3 font-weight-regular">77  ํF </span>
                                        <br>
                                        <span class="title font-weight-regular">FEELS LIKE</span>
                                        <span class="title font-weight-regular" style="color: gray"> 77  ํF </span>
                                    </div>
                                </v-flex>
                            </v-layout>
                        </v-card>
                    </v-flex>
                    <v-flex xs12 sm6 md3>
                        <v-card style="marginLeft: 15px; marginTop: 15px; marginBottom: 15px">
                            <v-layout column wrap align-center>
                                <v-flex xs12>
                                    <div class="circle">
                                        <span class="title font-weight-regular" style="color: gray"> 93 ํC | 69 ํC </span>
                                        <br>
                                        <span class="display-3 font-weight-regular">77  ํF </span>
                                        <br>
                                        <span class="title font-weight-regular">FEELS LIKE</span>
                                        <span class="title font-weight-regular" style="color: gray"> 77  ํF </span>
                                    </div>
                                </v-flex>
                            </v-layout>
                        </v-card>
                    </v-flex>
                    <v-flex xs12 sm6 md3>
                        <v-card style="marginLeft: 15px; marginTop: 15px; marginBottom: 15px">
                            <v-layout column wrap align-center>
                                <v-flex xs12>
                                    <div class="circle">
                                        <span class="title font-weight-regular" style="color: gray"> 93 ํC | 69 ํC </span>
                                        <br>
                                        <span class="display-3 font-weight-regular">77  ํF </span>
                                        <br>
                                        <span class="title font-weight-regular">FEELS LIKE</span>
                                        <span class="title font-weight-regular" style="color: gray"> 77  ํF </span>
                                    </div>
                                </v-flex>
                            </v-layout>
                        </v-card>
                    </v-flex>
                    <v-flex xs12 sm6 md3>
                        <v-card style="marginLeft: 15px; marginTop: 15px; marginBottom: 15px">
                            <v-layout column wrap align-center>
                                <v-flex xs12>
                                    <div class="circle">
                                        <span class="title font-weight-regular" style="color: gray"> 93 ํC | 69 ํC </span>
                                        <br>
                                        <span class="display-3 font-weight-regular">77  ํF </span>
                                        <br>
                                        <span class="title font-weight-regular">FEELS LIKE</span>
                                        <span class="title font-weight-regular" style="color: gray"> 77  ํF </span>
                                    </div>
                                </v-flex>
                            </v-layout>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-card>
        </v-flex>
      </v-layout>
    </v-card>
</template>

<script>

  export default {
    data () {
      return {
      }
    }
  }
</script>

<style>
.circle {
  width: 220px;
  height: 210px;
  border-radius: 50%;
  border: 4px solid orangered;
  font-size: 20px;
  color: orangered;
  line-height: 50px;
  text-align: center;
  background: white;
}

.im {
    border-radius: 50%;
}
</style>
