<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-title class="headline text-uppercase">
        <span>METEOROLOGY</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-icon>settings</v-icon>
    </v-toolbar>

    <v-content>
      <!-- <HelloWorld/> -->
      <!-- <Today/> -->
      <Tenday/>
    </v-content>
  </v-app>
</template>

<script>
// import HelloWorld from './components/HelloWorld'
// import Today from './components/Today'
import Tenday from './components/Tenday'

export default {
  name: 'App',
  components: {
    Tenday
  },
  data () {
    return {
      //
    }
  }
}
</script>
